<ng-template #divLoading>
  <mat-grid-list cols="1" rowHeight="2:1">
    <mat-grid-tile>
      <mat-spinner></mat-spinner>
    </mat-grid-tile>
  </mat-grid-list>
</ng-template>

<div *ngIf="record; else divLoading" class="grid p-2">
  <div class="col-12">
  </div>

  <mat-card class="col-12 sm:col-6">

    <mat-card-header>
    </mat-card-header>

    <img src="assets\medical-procedure.png" [alt]="record.id" mat-card-image />

  </mat-card>

  <mat-card class="col-12 sm:col-6">

    <mat-card-header>
      <mat-card-title>
        <h1>Evaluación del servicio recibido</h1>
      </mat-card-title>
      <mat-card-subtitle>
        <h2>{{ record.procedure[0].name }} - {{ record.date | date: 'MM/dd/yyyy' }}</h2>
        <h3>{{ record.procedure[0].description }}</h3>
      </mat-card-subtitle>

      <mat-card-subtitle>
        <h2>{{ record.procedure[0] }}</h2>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <mat-toolbar color="primary">
        <span>Detalles de la evaluación</span>
        <mat-icon *ngFor="let star of maxRatingArray; let i = index"
          (mouseenter)="setRating(i)"
          [ngClass]="{checked: selectedStar > i}"
        >star</mat-icon>
      </mat-toolbar>
      <mat-list>

        <mat-list-item>
          <strong>Fecha:</strong>
          {{ record.date| date: 'MM/dd/yyyy'}}
        </mat-list-item>

        <mat-list-item>
          <strong>Descripción:</strong>
          {{ record.procedure[0].description }}
        </mat-list-item>



        <br>

        <!-- <strong *ngIf="patient.patology">Patologías:</strong>
        <mat-chip-listbox *ngIf="patient.patology">
          <mat-chip *ngFor="let name of patient.patology.split(',')">
            {{ name }}
          </mat-chip>
        </mat-chip-listbox>

        <strong *ngIf="patient.treatment">Tratamiento:</strong>
        <mat-chip-listbox *ngIf="patient.treatment">
          <mat-chip *ngFor="let name of patient.treatment.split(',')">
            {{ name }}
          </mat-chip>
        </mat-chip-listbox> -->

      </mat-list>

      <button
        mat-button
        color="warn"
        (click)="goBack()"
      >
        Regresar
      </button>

    </mat-card-content>


  </mat-card>

  <!-- <list-record-page></list-record-page> -->


</div>
