
<div class="flex flex-column">

  <div class="text-center">
    <img src="assets\logo_hospiTEC.png"
    style="width: 550px;" alt="logo">
    <!-- <h4 class="mt-1 mb-5 pb-1">Lab CE</h4> -->
  </div>

  <span class="text-lg mb-4">Login</span>

  <form class="flex flex-column" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <mat-form-field>
      <mat-label>Usuario</mat-label>
      <input type="text"
      matInput placeholder="Correo"
      formControlName="email"
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input type="password"
      matInput placeholder="Contraseña"
      formControlName="password"
      >
    </mat-form-field>

    <button mat-button mat-flat-button color="primary"
      (click)="onLogin()">
      <mat-icon>save</mat-icon>
      Ingresar
    </button>
  </form>

  <div class="flex justify-content-end mt-5">
    <a routerLink="/auth/new-account">¿No tienes cuenta?</a>
  </div>

</div>







