<div class="flex flex-column p-2">

  <h3>Buscador</h3>

  <mat-form-field>
    <mat-label>Buscador de pacientes</mat-label>
    <input
      type="text"
      matInput
      [formControl]="searchInput"
      (input)="searchPatient()"
      [matAutocomplete]="auto"
    />

    <mat-autocomplete autoActiveFirstOption
      #auto="matAutocomplete"
      (optionSelected)="onSelectedOption( $event )"
      >
      <mat-option *ngFor="let patient of patients" [value]="patient">
        {{ patient.name }}
      </mat-option>

      <mat-option
        *ngIf="patients.length === 0 && searchInput.value && searchInput.value.length > 0"
        value="">
        No se encontró nada con el término {{ searchInput.value }}
      </mat-option>
    </mat-autocomplete>

  </mat-form-field>

  <mat-divider></mat-divider>


</div>

<mat-divider></mat-divider>

<div class="grid bm-8 pt-2">

  <div *ngIf="selectedPatient"
    class="col-12 sm:col-4 md:col-3 xl:col-2">
    <patients-patient-card [patient]="selectedPatient!"></patients-patient-card>
  </div>

</div>
