<h1>
  {{ currentPatientToUpdate ? 'Editar' : 'Agregar'}}
  <small>paciente</small>
</h1>

<mat-divider class="mb-2"></mat-divider>

<div class="grid">

  <div class="col-12 sm:col-6">
    <mat-card>
      <mat-card-content>

        <form class="grid" [formGroup]="patientForm" (ngSubmit)="onSubmit()">

          <mat-form-field class="col-12">
            <mat-label>Identificación</mat-label>
            <input
              matInput
              type="text"
              required
              maxlength="9"
              pattern="\d*"
              inputmode="numeric"
              formControlName="id"
            />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Nombre</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="name"
            />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Primer apellido</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="firstLastName"
            />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Segundo apellido</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="secondLastName"
            />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Teléfono principal</mat-label>
            <input
              matInput
              type="text"
              required
              maxlength="8"
              pattern="\d*"
              inputmode="numeric"
              formControlName="firstPhoneNumber"
            />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Teléfono secundario</mat-label>
            <input
              matInput
              type="text"
              maxlength="8"
              pattern="\d*"
              inputmode="numeric"
              formControlName="secondPhoneNumber"
            />
          </mat-form-field>

          <br>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Correo</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="email"
            />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Dirección</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="address"
            />
          </mat-form-field>

          <mat-form-field color="accent" class="col-12">
            <mat-label>Fecha de nacimiento</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="birthDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Patologías</mat-label>
            <input
              matInput
              type="text"
              formControlName="patology"
            />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Tratamiento</mat-label>
            <input
              matInput
              type="text"
              formControlName="treatment"
            />
          </mat-form-field>


        </form>

        <div class="flex justify-content-between">
          <button
          *ngIf="currentPatientToUpdate"
            mat-flat-button
            color="warn"
            (click)="onDeletePatient()"
          >
            Borrar
          </button>
          <span></span>

          <button
            mat-flat-button
            color="primary"
            (click)="onSubmit()"
          >
            <mat-icon>save</mat-icon>
            Guardar
          </button>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 sm:col-6">

    <mat-card>
      <img [src]="currentPatient | patientImage" alt="no-image" mat-card-image>
    </mat-card>

  </div>
</div>

<pre>
  Formulario valido: {{ patientForm.valid | json }}
</pre>

<pre>
  {{ currentPatient | json }}
</pre>

<pre>
  currentPatientToUpdate: {{ currentPatientToUpdate | json }}
</pre>

