<h1>
  Editar / Agregar
  <small>Paciente</small>
</h1>

<mat-divider class="mb-2"></mat-divider>

<div class="grid">

  <div class="col-12 sm:col-6">
    <mat-card>
      <mat-card-content>

        <div class="grid">

          <mat-form-field class="col-12">
            <mat-label>Identificación</mat-label>
            <input
              matInput
              type="text"
              required
              maxlength="9"
              pattern="\d*"
              inputmode="numeric"
            />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Nombre</mat-label>
            <input
              matInput
              type="text"
              required
            />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Primer apellido</mat-label>
            <input
              matInput
              type="text"
              required
            />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Segundo apellido</mat-label>
            <input
              matInput
              type="text"
              required
            />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Teléfono principal</mat-label>
            <input
              matInput
              type="text"
              required
              maxlength="8"
              pattern="\d*"
              inputmode="numeric"
            />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Teléfono secundario</mat-label>
            <input
              matInput
              type="text"
              maxlength="8"
              pattern="\d*"
              inputmode="numeric"
            />
          </mat-form-field>

          <br>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Correo</mat-label>
            <input
              matInput
              type="text"
              required
            />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Dirección</mat-label>
            <input
              matInput
              type="text"
              required
            />
          </mat-form-field>

          <mat-form-field color="accent" class="col-12">
            <mat-label>Fecha de nacimiento</mat-label>
            <input matInput [matDatepicker]="picker1">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Patologías</mat-label>
            <input
              matInput
              type="text"
            />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Tratamiento</mat-label>
            <input
              matInput
              type="text"
            />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Creador</mat-label>
            <mat-select required="">
              <mat-option *ngFor="let publisher of publishers"
                [value]="publisher.id">
                {{ publisher.desc }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="flex justify-content-between">
          <button
            mat-flat-button
            color="warn"
          >
            Borrar
          </button>

          <button
            mat-flat-button
            color="primary"
          >
            <mat-icon>save</mat-icon>
            Guardar
          </button>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 sm:col-6">

    <mat-card>
      <img src="" alt="imagen del héroe" mat-card-image>
    </mat-card>

  </div>
</div>

