<mat-card>
  <mat-card-header>
    <mat-card-title>{{ patient.superhero }}</mat-card-title>
    <mat-card-title>{{ patient.alter_ego }}</mat-card-title>
  </mat-card-header>

  <!-- TODO: Imagen  -->
  {{ patient | patientImage }}
  <img mat-card-image [src]="patient | patientImage" [alt]="patient.superhero">

  <mat-card-content class="mt-2">
    <h4>{{ patient.publisher }}</h4>
    <p>
      <strong> Primer aparición </strong> {{ patient.first_appearance }}
      <br>
      <mat-chip-listbox>
        <mat-chip *ngFor="let name of patient.characters.split(',') | slice:0:3">
          {{ name }}
        </mat-chip>
      </mat-chip-listbox>
    </p>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions>

    <button mat-button
      mat-raised
      color="primary"
      [routerLink]="['/patient/edit', patient.id]">
      <mat-icon>edit</mat-icon>
      Editar
    </button>

    <span class="spacer"></span>

    <button mat-button
      mat-raised
      [routerLink]="['/patient', patient.id]">
      <mat-icon>more_horiz</mat-icon>
      Más
    </button>

  </mat-card-actions>

</mat-card>
